* {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
p {
  margin: 0;
}

input[type="radio"] {
  opacity: 0;
  /* 完全に隠すけどクリック可能 */
}