body {
  font-family: "Noto Sans JP", sans-serif;
  color: #4E301B;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


.header__pc {
  display: none;
}

.header__sp {
  display: block;
}

.spMenu__btn {
  z-index: 200;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  background: #FED966;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0px 3px 6px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spMenu__btnWrapper {
  width: 48px;
  height: 48px;
}

.spMenu__btnLine {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  background: #4E301B;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.spMenu__btnLine:nth-of-type(1) {
  top: 20px;
}

.spMenu__btnLine:nth-of-type(3) {
  top: 30px;
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(1) {
  transform: translateX(-50%) rotate(45deg);
  top: 24px;
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(2) {
  background: rgba(0, 0, 0, 0);
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(3) {
  transform: translateX(-50%) rotate(-45%);
  top: 24px;
}

.spMenu__wrapper {
  visibility: hidden;
  width: 100%;
  height: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.spMenu__wrapper.open {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
}

.spMenu__wrapperLogo {
  text-align: center;
  margin-top: 60px;
}

.spMenu__wrapperLogo img {
  width: 270px;
  height: 170px;
}

.dropdownMenu {
  text-align: center;
  margin-top: 40px;
}

.dropdownMenu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdownMenu__item a {
  font-size: 16px;
  font-weight: 700;
}

.mv {
  background-image: url(img/fv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: flex-start; */
  height: 177vw;
}

.mv .container {
  position: relative;
}

.mv__logo {
  width: 270px;
  height: 170px;
  position: absolute;
  top: 627px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;

}

.mv__logoMark {
  background-image: url(img/logo-03.png);
  background-position: center;
  background-repeat: no-repeat;
}

.copy h2 {
  position: absolute;
  top: 423px;
  left: 33px;
  background: #fff;
  padding: 7px;
}

.copy h2:nth-of-type(2) {
  top: 467px;
}

.copy h2:nth-of-type(3) {
  top: 511px;
}