body {
  font-family: "Noto Sans JP", sans-serif;
  color: #4E301B;
  background: #FDF9EF;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}


.tittle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}


/* header */

.header__pc {
  display: none;
}

.header__sp {
  display: block;
}

.spMenu__btn {
  z-index: 200;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  background: #FED966;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0px 3px 6px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spMenu__btnWrapper {
  width: 48px;
  height: 48px;
}

.spMenu__btnLine {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 2px;
  background: #4E301B;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.spMenu__btnLine:nth-of-type(1) {
  top: 20px;
}

.spMenu__btnLine:nth-of-type(3) {
  top: 30px;
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(1) {
  transform: translateX(-50%) rotate(45deg);
  top: 24px;
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(2) {
  background: rgba(0, 0, 0, 0);
}

.spMenu__btn.open .spMenu__btnLine:nth-of-type(3) {
  transform: translateX(-50%) rotate(-45deg) !important;
  top: 24px !important;
}

.spMenu__wrapper {
  visibility: hidden;
  width: 100%;
  height: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.spMenu__wrapper.open {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
}

.spMenu__wrapperLogo {
  text-align: center;
  margin-top: 60px;
}

.spMenu__wrapperLogo img {
  width: 270px;
  height: 170px;
}

.dropdownMenu {
  text-align: center;
  margin-top: 40px;
}

.dropdownMenu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdownMenu__item a {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width:768px) {

  .header {
    position: absolute;
    top: 68.4vw;
    width: 100%;
  }

  .header__pc {
    display: block;
  }

  .header__sp {
    display: none;
  }

  .header__pc .container {
    height: 100px;
    max-width: 1672px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }

  .header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
  }

  .header__item:nth-of-type(4) {
    padding-left: 339px;
  }

  .header__item a {
    font-size: 16px;
    font-weight: 700;
  }
}







/* mv */

.mv {
  background-image: url(img/fv2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 177vw;
}

.mv .container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mv__logo {
  position: absolute;
  left: 50%;
  transition: 0.5s;
  height: 154px;
  width: 154px;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.mv__logoMark a img {
  width: 80px;
  height: 80px;
}

.mv__logoName a img {
  width: 270px;
  height: 90px;
}

.mv__logoMark {
  background-image: url(img/logo-03.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.mv__logo:after {
  content: "";
  width: 270px;
  height: 90px;
  display: block;
  background-image: url(img/logo-02.png);
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.copy h2 {
  position: absolute;
  top: 423px;
  left: 16px;
  background: #fff;
  padding: 7px;
}

.copy h2:nth-of-type(2) {
  top: 467px;
}

.copy h2:nth-of-type(3) {
  top: 511px;
}

@media (min-width: 440px) {
  .mv {
    height: 67vw;
  }

  .copy {
    display: flex;
    flex-direction: row-reverse;
    gap: 21px;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 112px;
  }

  .copy h2 {
    position: static;
    /* positionを解除 */
    writing-mode: vertical-lr;
    /* 縦書き */
    background: #fff;
    padding: 15px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 10px;

  }
}


/* about */

.about {
  background: #FDF9EF;
  padding-top: 100px;
  margin-top: 130px;
}

.about .container {
  max-width: none;
  padding: 0;
}

.about__ttl {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #35A1C3;
  background: #FFFFFFE5;
  margin: 0 16.5px;
  padding: 10px 26.5px;
}

.about .swiper {
  margin-top: 45px;
}

.about .swiper-slide img {
  height: 250px;
  width: 375px;
}

.about__text {
  color: #857868;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  background: #fff;
  padding: 15px 8px;
  margin: 45px 17px 0 17px;
}

.about__text p {
  padding-top: 15px;
}

.about__text p:nth-of-type(1) {
  padding-top: 0;
}

@media (min-width:768px) {
  .about__ttl {
    font-size: 40px;
    font-weight: 700;
  }

  .sp-only {
    display: none;
  }
}




/* product */

.product {
  padding: 120px 0;
}

.product .container {
  max-width: none;
  padding: 0;
}

.product .swiper {
  margin-top: 50px;
  padding-left: 15vw;
  padding-right: 20px;
}

/* スライドの動き等速 */
.product .swiper-wrapper {
  /* transition-timing-function: linear; */
  height: 337px;
}

.product .swiper-slide {
  max-width: 264px;
  height: 331px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

}

.product .swiper .swiper-wrapper .swiper-slide img {
  height: auto;
  width: 100%;
}

.product__desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  height: 112px;
  padding: 16px 16px 0 16px;
}

.product__price {
  font-size: 16px;
  font-weight: 400;
  padding: 0 124px 16px 16px;
  position: absolute;
  bottom: 0;
}


/* news */

.news {
  background: #fff;
  padding: 100px 0 120px 0;
}

.news .tittle {
  padding-bottom: 50px;
}

.news__list {
  border-top: 1px solid #C6C6C6;
  width: 341px;
  margin-left: auto;
  margin-right: auto;
}

.news__list:nth-of-type(3) {
  border-bottom: 1px solid #C6C6C6;
}

.news__date {
  font-size: 13px;
  color: #403F3F;
  padding: 20px 8px;
}

.news__text {
  font-size: 16px;
  line-height: 150%;
  padding: 0 8px 47px 8px;
}

.news:after {
  content: "";
  width: 150px;
  height: 100px;
  display: block;
  background-image: url(img/grapes-middle.png);
  right: 0;
  position: absolute;
  transform: translate(0, 70%);
}


/* faq */

.faq {
  padding: 100px 0 120px 0;
}

.faq__area {
  padding-top: 50px;
  width: 341px;
  margin-left: auto;
  margin-right: auto;
}

.faq__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-align: start;
  display: block;
  cursor: pointer;
  background: #FFFFFF;
  width: 100%;
  padding: 12px 33px;
  position: relative;
}

.faq__item {
  /* 閉じている状態 */
  padding-top: 0;
  padding-bottom: 30px;
  /* 閉じるアニメーション */
  transition:
    border-top .3s ease-out,
    padding-top .3s ease-out,
    padding-bottom .3s ease-out;
}

.faq__list.is-open .faq__item {
  /* 開いている状態 */
  padding: 20px 8px 30px 8px;
  /* 開くアニメーション */
  transition:
    border-top .3s ease-out,
    padding-top .3s ease-out,
    padding-bottom .3s ease-out;
}

.faq__item p {
  font-size: 15px;
  font-weight: 400;
  /* 閉じている状態 */
  line-height: 0;
  opacity: 0;
  visibility: hidden;
  /* 閉じるアニメーション */
  transition:
    line-height .3s ease-out,
    opacity .1s linear,
    visibility .1s linear;
}

.faq__list.is-open .faq__item p {
  /* 開いている状態 */
  line-height: 2;
  opacity: 1;
  visibility: visible;
  /* 開くアニメーション */
  transition:
    line-height .3s ease-out,
    opacity .1s linear .1s,
    visibility .1s linear .1s;
}

.faq__btn:before {
  content: "Q";
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  display: block;
  top: 50%;
  left: 8px;
  position: absolute;
  transform: translate(0, -50%);
}

.faq__btn:after {
  content: "";
  width: 16px;
  height: 10.12px;
  display: block;
  background-image: url(img/Vector.png);
  right: 8px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.faq:after {
  content: "";
  width: 195px;
  height: 110px;
  display: block;
  background-image: url(img/breakfast-middle.png);
  left: 0;
  position: absolute;
  transform: translate(0, 60%);
}







.details {
  transition: 10s;
  /* open前とopen後の状態をtransitionを利用し10秒で遷移させる */
  overflow: hidden;
  padding-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

/* .details[open] {
  margin-top: 0;

}

.details__summary {
  display: block;
  padding: 12px 33px;
  transition: .3s;
  transform: translateY(10px);
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  &:hover {
    cursor: pointer;
  }
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details[open] .details-summary {
  transform: translateY(0);
}

.details__cont {
  padding: 20px 8px 0 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 200%;
}

.details__summary::before {
  content: "Q";
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  display: block;
  top: 50%;
  left: 8px;
  position: absolute;
  transform: translate(0, -50%);
}

.details__summary:after {
  content: "";
  width: 16px;
  height: 10.12px;
  display: block;
  background-image: url(img/Vector.png);
  right: 8px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.faq:after {
  content: "";
  width: 195px;
  height: 110px;
  display: block;
  background-image: url(img/breakfast-middle.png);
  left: 0;
  position: absolute;
  transform: translate(0, 60%);
} */


/* access */

.access {
  padding: 100px 0 120px 0;
  background: #fff;
}

.access__cont {
  padding-top: 50px;
  width: 341px;
  margin-left: auto;
  margin-right: auto;
}

.access__text {
  padding-top: 50px;
}

.access__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #C6C6C6;
  padding: 20px 0;
}

.access__item:nth-of-type(4) {
  border-bottom: 1px solid #C6C6C6;

}

.access__item p {
  font-size: 15px;
  font-weight: 400;
}

.list__ttl {
  padding-left: 8px;
  width: 35%;
}

.list__cont {
  width: 65%;
}


.access:after {
  content: "";
  width: 176px;
  height: 100px;
  display: block;
  background-image: url(img/Brussels_sprouts-middle.png);
  right: 0;
  position: absolute;
  transform: translate(0, 60%);
}


/* contact */

.contact {
  padding-top: 100px;
}

.contact p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding-top: 50px;
}

.contact__form {
  background: #fff;
  border-radius: 20px;
  margin-top: 30px;
  padding: 30px 8px 100px 8px;
  width: 341px;
  margin-left: auto;
  margin-right: auto;
}

.contact__formTtl {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.contact__table tr {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.contact__table th {
  text-align: start;
}

.inputLabel {
  font-size: 16px;
  font-weight: 700;
  padding: 50px 0 5px 0;
}

.inputLabel span {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  padding: 6.5px 11px;
  margin-left: 18px;
  background: #FED966;
}

.require {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  padding: 6.5px 11px;
  margin-left: 18px;
  background: #FED966;
}

.inputField {
  padding-top: 15px;
}

.radioList {
  position: relative;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label span {
  font-size: 16px;
}

input[type="radio"]+span {
  display: inline-block;
  padding: 1.5px 0 1.5px 15px;
  vertical-align: text-top;
  cursor: pointer;
}

input[type="radio"]+span:before {
  content: "";
  position: absolute;
  left: 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #4E301B;
  border-radius: 50%;
  line-height: 1;
}

input[type="radio"]:checked+span:after {
  content: "";
  position: absolute;
  left: 5px;
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 50%;
  background: #4E301B;
  line-height: 1;
}

th label {
  font-size: 16px;
  font-weight: 700;
}

table.contact__table {
  display: block;
}

tbody {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #EFEAE6;
  border: none;
}

.inputField .address__number {
  width: 157px;
}

textarea {
  height: 170px;
}

.buttonArea {
  text-align: center;
}

input[type="submit"] {
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  padding: 14px 93.5px;
  background: #FED966;
  border: none;
}


/* footer */

footer {
  margin-top: 50px;
  background: #fff;
}

footer .container {
  padding: 0;
  max-width: none;
  position: relative;
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  margin-top: 50px;
  width: 270px;
}

.footer__nav {
  margin: 60px 0 153px 0;
}

.footer__nav:before {
  content: "";
  width: 183px;
  height: 103px;
  display: block;
  background-image: url(img/strawberry-middle.png);
  position: absolute;
  bottom: 0;
  transform: translate(0, -58%);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.footer__item a {
  font-size: 16px;
  font-weight: 500;
}

.footer__nav:after {
  content: "";
  width: 146px;
  height: 100px;
  display: block;
  background-image: url(img/livestock-middle.png);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, -58%);
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  background: #D9D9D9;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
}



.swiper-slide img {
  height: auto;
  width: 100%;
}